<div id="gallery-container" class="col-xs-12 col-sm-12 col-md-12">
  <div class="map gallery-map">
  </div>
  <script>var galleryOptions = { lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %> };</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzRbMgDPqFAWa9zINSz9lrEm5IfNrhzdw&callback=gallery_initmap"></script>
</div>
