for books_owned_by_user.each do |book|
      book_txn = BookTransaction.where(:book_id => 3).where.not("approved='t' OR borrowed='t' OR returned='t'")
      unless book_txn.nil?
        book_wrapper=Hash.new
        book_wrapper[:book] = book 
        book_wrapper[:book_txn] = book_txn
        @books_waiting_approval.push(book_wrapper)
      end
    end


BookTransaction.where(:book_id => 3).where.not("approved='t' OR borrowed='t' OR returned='t'")

BookTransaction.create(:book_id => 3, :borrower_id => 2, :loan_period => 10, :approved => false, :borrowed => false, :returned => false)

BookTransaction.create(:book_id => 1, :borrower_id => 1, :loan_period => 10, :approved => true, :borrowed => true, :returned => false)


<!-- Modal -->
                <div id="request_modal<%= book_wrapper[:book_txn].id %>" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <form class="contact" name="book_return" action="booktransaction/return" enctype="multipart/form-data" method="post">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Return <%= book_wrapper[:book].title %></h4>
                        </div>
                        <div class="modal-body">
                          <input type="hidden" name="book_txn_id" value="<%= book_wrapper[:book_txn].id %>">
                          <p>Are you sure that you want to return <%= book_wrapper[:book].title %></p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-success" type="submit" value="Return Book">Return</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

<!-- <a class="cart_quantity_delete" data-toggle="modal" data-target="#request_modal"><i class="fa  fa-mail-reply fa-3x" style="color:grey"></i></a>-->

<form id="myform" method="post" action="book_transaction/return">
                  <input type="hidden" name="book_txn_id" value="<%= book_wrapper[:book_txn].id %>" />
                  <a class="cart_quantity_delete" onclick="document.getElementById('myform').submit();"><i class="fa  fa-mail-reply fa-3x" style="color:grey"></i></a> 
                </form>