<div class = "container">
  <div class="features_items" style = "padding: 15px"><!--features_items-->
    <h2 class="title text-center">All Users</h2>
    <% @users.each do |user| %>
      <div class="col-sm-4">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <%= image_tag user.profile_picture, {height:200} %>
              <h2><%= user.first_name %></h2>
              <p><%= user.email %></p>
            </div>
          </div>
          <div class="choose">
            <ul class="nav nav-pills nav-justified">
              <li><a href="#"><i class="fa fa-comments"></i>Message</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!--books-->
</div>
<%= will_paginate @users %>
