<ul id="genres" class="list-group">
  <% [ "Adventure", "Art", "Biography", "Classics", "Fantasy", "Horror", "Crime Fiction", "History", "Poetry", "Science Fiction" ].each do |genre| %>
    <li class="list-group-item"><%= genre %></li>
  <% end %>
</ul>
