// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inlined {
	display: inline;
}

h2 {
	color: #cc7a00;
	vertical-align: top;
}

.blurb {
	text-align: justify;
	width: 93%;
}

.book-image {
	margin-bottom: 40px;
	width: 100%;
	box-shadow: 10px 15px 18px -11px #bfbfbf;
}

.book-map {
	height: 300px;
}

