
a:hover {
	background: transparent !important;
	transition: 300ms;
	font-weight: bolder;
}

.checkbox {
	display: inline-block !important;
    	vertical-align: middle !important;
    	top: -2px !important;
  	margin-right: 10px !important;
}
