// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.minimap {
	width: 100%;
	height: 100%;
	min-height: 500px;
	background-color: #ccc;
}
